/* futer*/
.footer-background {
    background-color: var(--color-background-grey);
    padding: 60px 0;
}

.futer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 60px;

@include for-tablet {
    gap: 0;}
}
.footer-nav-logo {
    text-align: center;
@include for-tablet {
    margin: 0 165px 60px 0;
}
@include for-desktop {
    text-align: left;
    margin: 0 70px 0 0;
}
}

.footer-nav__adres {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-white);
    margin-top: 28px;
}

.footer-nav__mail,
.footer-nav__tel {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-nav__mail:hover {
    color: var(--color-blue);
}

.footer-nav__link {
    margin: 9px 0;
}


.footer-social__list {
    display: flex;
    gap: 10px;
    margin: auto;
    justify-content: center;
    align-items: center;
@include for-desktop {
    margin-right: 93px;
}
}

.footer-social__item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--color-white);
}

.footer-social__link:hover,
.footer-social__link:focus {
    background-color: var(--color-blue);
}

.footer-social__link {
    display: flex;
    
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--color-white);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}