.portfolio-button {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
}

.project-card__name {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-head);
}

.project-gallary {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project-card {
    display: block;
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover,
.project-card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card__text {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--color-comment);
}

.project-card__title {
    border: 1px solid #eeeeee;
    padding: 20px 24px;
}

.project-card__overlay {
    position: relative;
    overflow: hidden;
}

.overlay-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    transform: translatey(100%);
    transition: transform 250ms ease;
}

.overlay-card__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--color-white);
}

.project-card:hover .overlay-card {
    transform: translatey(0);
    transition: transform 250ms ease;
}