body {
    max-width: 100%;
    font-family: Roboto, sans-serif;
    color: var(--color-comment);
    background-color: var(--color-white);
@include for-tablet {
    width: 100%;
overflow-y:scroll ;
}
@include for-desktop {
    widows: 100%;
}
}
.container {
    width: 480px;
    margin: 0 auto;
    padding: 0 15px;
@include for-tablet {
    width: 768px;
}
@include for-desktop {
    width: 1200px;
}
}
.section {
    padding: 60px 0;
@include for-desktop {
    padding: 94px 0;
}
.section-name {
    font-size: 28px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-head);

@include for-desktop {
    font-size: 33px;
}
}
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.6);
}