:root {
    --color-blue: #2196f3;
    --color-head: #212121;
    --color-comment: #757575;
    --color-white: #ffffff;
    --color-background-grey: #2f303a;
    --color-easy-gray: #f5f4fa;
    --color-icon: #afb1b8;
}